{
  "presets": [
    "@babel/preset-typescript", "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-export-namespace-from",
    [
      "babel-plugin-dynamic-import-node",
      {
        "noInterop": true
      }
    ]
  ]
}