name: Release to NPM
on:
  workflow_dispatch:
    inputs:
      dry-run-enabled:
        description: 'Enable dry run for publishing (does not publish to npmjs)'
        required: false
        default: false
        type: boolean
  release:
    types: [published]

permissions:
  id-token: write
  contents: read

jobs:
  build-npm-package:
    name: Build NPM Package
    runs-on: nft-accelerators-linux-medium
    outputs:
      npm-artifact-name: ${{ steps.set-publish-data.outputs.artifact-name }}
    steps:
      - name: Prepare Runner
        uses: pandaswhocode/initialize-github-job@ed4a98646fe0235e6ecf3af5414b355d2abe3bf3 # v1.0.3
        with:
          checkout: 'true'
          checkout-ref: '${{ github.ref }}'
          checkout-fetch-depth: '1'
          checkout-token: '${{ secrets.GITHUB_TOKEN }}'
          setup-node: 'true'
          node-version: '20'

      - name: Install JQ and SED
        run: |
          if ! command -v jq >/dev/null 2>&1; then
            echo "::group::Setup JQ Command"
            sudo apt update
            sudo apt install -y jq
            echo "::endgroup::"
          fi

          if ! command -v sed >/dev/null 2>&1; then
            echo "::group::Setup SED Command"
            sudo apt update
            sudo apt install -y sed
            echo "::endgroup::"
          fi

      - name: Verify package version
        id: verify-package-version
        run: |
          PACKAGE_VERSION=$(jq -r .version package.json)
          RELEASE_VERSION=$(echo $GITHUB_REF_NAME | sed 's/v\.\|v//')
          [[ "$PACKAGE_VERSION" == "$RELEASE_VERSION" ]] && echo "Versions match $RELEASE_VERSION" || (echo "Package version is: $PACKAGE_VERSION and Release tag is: $RELEASE_VERSION"; exit 1)
          echo "package-version=$PACKAGE_VERSION" >> "${GITHUB_OUTPUT}"

      - name: Install packages
        run: npm ci

      - name: Build packages
        run: npm run build

      - name: Set Publish Data
        id: set-publish-data
        run: |
          VERSION=${{ steps.verify-package-version.outputs.package-version }}
          NPM_PACKAGE_NAME="hashgraph-hedera-nft-sdk-${VERSION}.tgz"
          echo "artifact-name=${NPM_PACKAGE_NAME}" >> $GITHUB_OUTPUT

      - name: Build npm project
        id: npm-pack
        run: npm pack

      - name: Upload Hedera NFT SDK Package Artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: npm-package
          path: ./${{ steps.set-publish-data.outputs.artifact-name }}
          if-no-files-found: error

  publish-npm-package:
    runs-on: ubuntu-latest
    needs:
      - build-npm-package
    steps:
      - name: Prepare Runner
        uses: pandaswhocode/initialize-github-job@ed4a98646fe0235e6ecf3af5414b355d2abe3bf3 # v1.0.3
        with:
          checkout: 'true'
          checkout-ref: '${{ github.ref }}'
          checkout-fetch-depth: '1'
          checkout-token: '${{ secrets.GITHUB_TOKEN }}'
          setup-node: 'true'
          node-version: '20'
          node-registry: 'https://registry.npmjs.org'

      - name: Install NPM latest
        run: npm install -g npm@11.7.0

      - name: Download Hedera NFT SDK NPM Package
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: npm-package

      - name: Publish NPM Package
        run: |
          args="--access=public"
          if [[ "${{ inputs.dry-run-enabled || 'false' }}" == "true" ]]; then
            args="${args} --dry-run"
          fi

          package="${{ needs.build-npm-package.outputs.npm-artifact-name }}"
          echo "::group::Publishing package: ${package} with args: ${args}"
          npm publish ${package} ${args}
          echo "::endgroup::"

      - name: Publish to NPM
        run: npm publish --access=public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
