name: PR Checks
on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

concurrency:
  group: pr-checks-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  test:
    name: Tests
    runs-on: [self-hosted, Linux, medium, ephemeral]
    steps:
      - name: Checkout repository
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # pin@v3

      - name: Setup Node 18
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # pin@v3
        with:
          node-version: 18

      - name: Install packages
        run: npm ci

      - name: Run Jest Tests
        run: npm run test-output

      - name: Publish Test Report
        uses: actionite/publish-unit-test-result-action@1e01e49081c6c4073913aa4b7980fa83e709f322 # pin@v2
        if: ${{ !cancelled() }}
        with:
          check_name: Jest Test Results
          check_run_disabled: true
          json_thousands_separator: ","
          junit_files: "**/*.xml"
